[submodule "themes/smol"]
	path = themes/smol
	url = https://github.com/mroberts1/smol
[submodule "hugo/retrofuture/themes/hugo.386"]
	path = hugo/retrofuture/themes/hugo.386
	url = https://gitlab.com/maxlefou/hugo.386
